.envrc
.env
**/__pycache__
**/.pytest_cache
**/.DS_Store
**/.venv
**/.ruff_cache
**/un.egg-info
verifiers/
**/terraform.tfvars
*.tfplan
*.tfstate
*.tfstate.backupunboxer_ssh
unboxer_ssh
unboxer_ssh.pub
.hypothesis/
**/*.log