[project]
name = "rewarding"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.12"
dependencies = ["click>=8.3.0", "pytest", "result", "xxhash", "verifiers[rl]"]

[project.scripts]
un = "unboxer:main"

[tool.uv]
package = true
override-dependencies = [
    "triton; platform_system == 'Linux'",
    "flash-attn; platform_system == 'Linux'",
]

[tool.setuptools]
packages = ["rewarding"]

[tool.pytest.ini_options]
python_files = ["*.test.py", "test_*.py"]
addopts = "-s"
